:root {
  --primary-color: #ffac12;
  --black-color: #000;
  --white-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  max-width: 100vw;
}
hr {
  width: 168px;
  background: linear-gradient(to right, #ffac12, #000000);
  height: 5px;
  border-radius: 2px;
  margin-bottom: 21px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.wrapper {
  margin-left: 186px;
  /* margin-right: 186px; */
}
.fa-long-arrow-alt-right {
  color: var(--primary-color);
  margin-left: 8px;
}
/* header begins*/
.navbar {
  display: flex;
  padding-left: 186px;
  background: var(--black-color);
  opacity: 0.2;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border: none;
  animation: fadeDown 1000ms forwards;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 900;
  cursor: pointer;
}
.navbar.active {
  background: var(--black-color);
  color: var(--black-color);
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.13);
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-items {
  display: flex;
  justify-content: space-between;
  margin-right: 186px;
  list-style-type: none;
}

.menu-items li a {
  text-decoration: none;
  padding-right: 40px;
  color: #fff;
  transition: 0.3s;
}
.menu-items li a:hover {
  color: var(--primary-color);
  font-weight: bold;
  background: transparent;
}
.menu-items .primary-btn {
  color: #fff;
  border-radius: 0px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background-color: var(--primary-color);
  padding: 12px 25px;
  color: black;
  font-size: 17px;
  font-weight: bold;
  border-top-right-radius: 18px;
  border: none;
  animation: fadeIn 100ms forwards;
  opacity: 0;
  animation-delay: 1400ms;
}
.menu-items .primary-btn:hover {
  box-shadow: inset 400px 0 0 0 var(--white-color);
}
.menu-items .primary-btn .fa-long-arrow-alt-right {
  margin-left: 8px;
  color: var(--white-color);
}
.menu-items .primary-btn:hover .fa-long-arrow-alt-right {
  color: var(--primary-color);
}

.header {
  padding-top: 90px;
}
.hero_text {
  margin-left: 186px;
  margin-top: 118px;
  color: var(--white-color);
  width: 35%;
}
.hero_text h1 {
  font-size: 80px;
  font-weight: bold;
  animation: fadeToRight 800ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
  opacity: 0;
  animation-delay: 800ms;
}
@keyframes fadeToRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.hero_text p {
  font-size: 20px;
  margin-top: 22px;
  font-weight: 300;
  width: 80%;
  animation: fadeIn 800ms forwards;
  opacity: 0;
  animation-delay: 400ms;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.header .listings {
  width: 75%;
  background: #f2f2f2;
  color: var(--black-color);
  margin-left: 186px;
  margin-left: 186px;
  margin-top: 140px;
  padding: 30px;
  animation: fadeToLeft 1200ms forwards;
  opacity: 0;
  animation-delay: 900ms;
}

@keyframes fadeToLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.header .listings a {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: var(--black-color);
  text-decoration: none;
}
.header .listings a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.header .listings .fa-long-arrow-alt-right {
  color: var(--primary-color);
  margin-left: 8px;
}
.header .listings a:hover .fa-long-arrow-alt-right {
  color: var(--black-color);
}
/* header ends */
/* subhero begins */
.subhero {
  display: flex;
}
.subhero img {
  max-height: 800px;
  max-width: 704px;
  margin-top: 150px;
}
.subhero .subhero-text {
  margin-top: 263px;
  margin-left: 60px;
  width: 40%;
}
hr {
  width: 168px;
  background: linear-gradient(to right, #ffac12, #000000);
  height: 5px;
  border-radius: 2px;
  margin-bottom: 21px;
}
.subhero .subhero-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.subhero .subhero-text p {
  font-size: 20px;
  font-weight: 400;
  margin-right: 200px;
  line-height: 28px;
  text-align: left;
}
button {
  background-color: var(--black-color);
  margin-top: 30px;
  padding: 20px 25px;
  color: var(--white-color);
  font-size: 17px;
  font-weight: 400;
  border-top-right-radius: 18px;
  border: none;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  animation: fadeIn 100ms forwards;
  opacity: 0;
  animation-delay: 1400ms;
  cursor: pointer;
}

button:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--primary-color);
}

button:hover {
  color: var(--black-color);
  box-shadow: inset 400px 0 0 0 var(--primary-color);
  text-shadow: 0 0 5px var(--primary-color);
}
button:hover .fa-long-arrow-alt-right {
  color: var(--white-color);
}

/* subhero ends */
/* Places begins */
.places {
  background: #979797;
  padding-left: 186px;
  margin-top: -150px;
}
/* .places section {
  padding-top: 150px;
} */
.places .places-options {
  padding-top: 150px;
}
.places-options h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}
.places-options ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  background: var(--white-color);
  width: 1079px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.13);
}
.places-options ul li {
  padding-right: 40px;
  border-right: 1px solid #e4e4e4;
  cursor: pointer;
  font-size: 17px;
}
.places-options ul li > select {
  margin-left: 5px;
  padding: 5px;
}

.places-options ul li:last-child {
  border-right: none;
  padding-right: 0;
}
.places-options .fas {
  padding-left: 8px;
}
/* places ends */
/* apartment begins */
.property {
  padding-top: 80px;
  display: flex;
  gap: 10px;
}
.apart {
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.property .details {
  background: var(--white-color);
  border-radius: 25px;
}
.property .details:first-child {
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.13);
}
.property .details h1 {
  padding: 30px;
  border-bottom: 1px solid #e4e4e4;
}
.property .details ul {
  display: flex;
  padding-top: 18px;
  padding-bottom: 20px;
  justify-content: space-around;
  list-style-type: none;
  cursor: pointer;
}
.property .details .bed {
  padding-right: 8px;
}
.card-contents {
  background: #979797;
  margin-bottom: 60px;
  height: 1200px;
  display: grid;
  gap: 200px;
  row-gap: 230px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 250px);
}
figure.snip1193 {
  color: #fff;
  position: relative;
  overflow: hidden;
  min-width: 336px;
  max-width: 336px;
  width: 100%;
  background: #000000;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1193 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1193 img {
  opacity: 1;
  width: 100%;
  display: block;
}
figure.snip1193 figcaption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px 12px 5px;
  position: absolute;
}
figure.snip1193 i {
  color: #ffffff;
}

figure.snip1193 i {
  font-size: 22px;
}
figure.snip1193 a {
  text-decoration: none;
}
figure.snip1193 .bottom-left,
figure.snip1193 .bottom-right {
  position: absolute;
  bottom: 5px;
  opacity: 0;
}
figure.snip1193 .bottom-left {
  left: 5px;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
figure.snip1193 .bottom-right {
  right: 5px;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
figure.snip1193:hover img,
figure.snip1193.hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1193:hover figcaption .bottom-left,
figure.snip1193.hover figcaption .bottom-left,
figure.snip1193:hover figcaption .bottom-right,
figure.snip1193.hover figcaption .bottom-right {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
/* Apartment ends */
/* after begins */
.after {
  margin-left: 186px;
}
.after-content {
  display: flex;
}
.after img {
  max-height: 730px;
  max-width: 704px;
  margin-top: -150px;
  background: none;
  border: none;
}
.after-text {
  margin-top: 70px;
  margin-right: 60px;
  width: 100%;
}

.after .after-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.after .after-text p {
  font-size: 20px;
  font-weight: 400;
  margin-right: 200px;
  line-height: 28px;
  text-align: left;
}
.after-hands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  height: 500px;
  color: var(--white-color);
}
.after-hands h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.after-hands p {
  width: 40%;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.after-hands hr {
  width: 168px;
  background: linear-gradient(
    to right,
    rgba(255, 172, 18, 1),
    rgba(0, 0, 0, 0.2)
  );
  height: 4px;
  border-radius: 2px;
  margin-bottom: 21px;
}
.after-hands .secondary-btn {
  background-color: var(--primary-color);
  color: var(--black-color);
  font-size: 17px;
  font-weight: 400;
  border-top-right-radius: 18px;
  border: none;
  box-shadow: inset 0 0 0 0 var(--primary-color);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  animation: fadeIn 100ms forwards;
  opacity: 0;
  animation-delay: 1400ms;
  cursor: pointer;
}
.after-hands .secondary-btn .fa-long-arrow-alt-right {
  color: var(--white-color);
}

.after-hands .secondary-btn:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--primary-color);
}

.after-hands .secondary-btn:hover {
  /* background: var(--white-color); */
  color: var(--primary-color);
  box-shadow: inset 400px 0 0 0 var(--white-color);
  text-shadow: 0 0 5px var(--primary-color);
}
.after-hands .secondary-btn:hover .fa-long-arrow-alt-right {
  color: var(--black-color);
}
/* after ends */
/* reviews begins */
.reviews {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.reviews p {
  margin-top: 40px;
  margin-bottom: 60px;
  line-height: 32px;
}
.reviews hr {
  width: 100%;
}
.reviews .reviews-content {
  background: var(--black-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 30px 0 20px 40px;
  text-align: left;
}
.reviews .reviews-content span {
  margin-left: 20px;
}
.reviews .reviews-content span h4 {
  font-size: 15px;
  font-weight: bold;
}
.reviews .content span > small {
  color: #979797;
  font-size: 15px;
}
.reviews .card {
  position: relative;
  margin: 0 auto;
  width: 350px;
  background: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.reviews .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 172, 18, 1),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 1;
  transition: 0.5s;
}
.reviews .card:hover .layer {
  top: 0;
}
.reviews .card .content {
  position: relative;
  z-index: 2;
}
.testimonial {
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
  justify-content: space-evenly;
}
/* reviews ends */
/* footer starts */
.footer {
  background: var(--black-color);
  padding-left: 186px;
  padding-bottom: 80px;
  color: var(--white-color);
  overflow: hidden;
}

.footer-header {
  display: flex;
  margin-right: 186px;
  padding-top: 86px;
  padding-bottom: 57px;
  align-items: center;
  justify-content: space-between;
}
.footer-header span {
  color: var(--primary-color);
}
.footer-header h1 {
  font-size: 42px;
  font-weight: bold;
}
.footer-header .secondary-btn {
  background: var(--primary-color);
  color: var(--black-color);
  box-shadow: inset 0 0 0 0 var(--primary-color);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.footer-header .secondary-btn:hover {
  color: var(--primary-color);
  box-shadow: inset 400px 0 0 0 var(--white-color);
  text-shadow: 0 0 5px var(--primary-color);
}
.footer-header .secondary-btn:hover .fa-long-arrow-alt-right {
  color: var(--black-color);
}
.footer-header .secondary-btn .fa-long-arrow-alt-right {
  color: var(--white-color);
}
.footer > hr {
  width: 86.5%;
  background: #979797;
  opacity: 0.2;
  height: 1px;
  border-radius: 2px;
}
.footer .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-right: 186px;
  padding-bottom: 80px;
}
.footer .footer-bottom ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.footer .footer-bottom ul li {
  font-size: 22px;
  margin-top: 15px;
}
.footer .footer-bottom ul li > a {
  color: var(--white-color);
  transition: transform 0.2s;
}
.footer .footer-bottom .fab {
  transition: transform 0.4s;
}
.footer .footer-bottom .fab:hover {
  transform: scale(1.5);
  color: var(--primary-color);
}
.footer .footer-bottom .col-2 h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer .footer-bottom .col-2 p {
  font-size: 15px;
  color: #979797;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
.copyright {
  margin-top: 0;
  display: grid;
  place-content: center;
  margin-bottom: 10px;
  color: #979797;
}
.color {
  color: var(--primary-color);
  font-weight: bold;
}
